# This is a basic workflow to help you get started with Actions

name: "Find Domain"

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  workflow_dispatch:
    inputs:
      domain:
        description: "Domain"
        default: ""

  # push:
    # branches: [ main ]
  # schedule:
  #   - cron: "*/40 * * * *"

env:
  DOMAIN: ${{ github.event.inputs.domain }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install requirements
        run: |
          pip install -r requirements.txt

      - name: Working
        env:
          YAML_URL: ${{ secrets.YAML_URL}}
        run: python main.py

      - name: Upload Domain Log
        uses: actions/upload-artifact@v3
        with:
          name: find-domain artifact
          path: |
            domain.txt
            *_domain.log
          retention-days: 3
